main {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

footer {
  background-color: gray;
  color: white;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

header img {
  height: 50px;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 10%;
}

.inLine {
  display: flex;
  margin-top: 2px;
}

textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border-radius: 5px;
}

.textarea p {
  position: relative;
  float: right;
  margin-top: -25px;
}

#btn, #submit-btn {
  border-radius: 5px;
}
